/* nav start here */

body{
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 50px;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding:  15px 35px;
}

/* nav end here */
.header{
    background-color: #fff8f3;
}

.banner{
    display: flex;
    padding: 30px 30px 30px 150px;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}